@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.custom-calendar .rdp-day {
  border-radius: 8px;
  transition: 0.2s;
}

.custom-calendar .rdp-day:hover {
  background-color: #e0f2fe;
}

.custom-calendar .rdp-head_cell {
  font-weight: 600;
  color: #555;
}

.custom-calendar .rdp-day_selected {
  background-color: #3b82f6 !important;
  color: white;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.swing {
  transform-origin: top center;
  animation: swing 3s ease-in-out infinite;
}
